<script>
    import { lastHoveredCountry } from './Map/stores.js'

    import countries from '../data/country_props.js'


    function formatNumber(n) {
        const numStr = n.toString()
        let result = ''
        for (let i = 0; i < numStr.length; ++i) {
            result += numStr[i]
            if ((i + 1) % 3 == numStr.length % 3) {
                result += ' '
            }
        }
        return result
    }
</script>

<style>
    @font-face {
        font-family: NotoColorEmojiLimited;
        unicode-range: U+1F1E6-1F1FF;
        src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
    }

    .flag {
        font-family: 'NotoColorEmojiLimited', -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 
        'Segoe UI Emoji', 'Segoe UI Symbol';
    }
</style>

{#if $lastHoveredCountry}
    <h1><span class="flag">{countries[$lastHoveredCountry].flag}</span> {countries[$lastHoveredCountry].name}</h1>
    <h3>{countries[$lastHoveredCountry].formal}</h3>
    <p><b>Population: {formatNumber(countries[$lastHoveredCountry].population)}</b></p>
    <p><b>Code: {$lastHoveredCountry}</b></p>
{:else}
    <h1>No country selected...</h1>
{/if}