<script>
    import { onMount, tick } from 'svelte'

    import { navState, onWheel, onMouseDown, onMouseUp, onMouseMove } from './navigation.js'
    import { draw, drawLoading } from './draw.js'


    let canvas

    let isDrawing = false

    onMount(async () => {
        navState.w = canvas.clientWidth
        navState.h = canvas.clientHeight
        navState.translation.y = (navState.w - navState.h) / 2

        canvas.width = navState.w
        canvas.height = navState.h
        await tick()

        const ctx = canvas.getContext('2d')

        drawLoading(ctx)

        const mapData = {
            countries: await (await fetch(`${window.location.href}/data/countries.json`)).json(),
            rivers: await (await fetch(`${window.location.href}/data/rivers.json`)).json(),
            lakes: await (await fetch(`${window.location.href}/data/lakes.json`)).json(),
            cities: await (await fetch(`${window.location.href}/data/cities.json`)).json(),
            countriesDetailed: null,
            riversDetailed: null,
            lakesDetailed: null
        }

        const doDraw = (forceRedraw = true) => {
            if (!isDrawing) {
                isDrawing = true
                requestAnimationFrame(() => {
                    draw(ctx, mapData, forceRedraw)
                    isDrawing = false
                })
            }
        }
        
        canvas.addEventListener('wheel', (e) => {
            e.preventDefault()
            onWheel(e)
            doDraw()
        }, { passive:false })

        canvas.addEventListener('mousedown', onMouseDown)
        window.addEventListener('mouseup', onMouseUp) // to detect every mouseUp
        canvas.addEventListener('mousemove', (e) => {
            const changed = onMouseMove(e)
            doDraw(changed)
        })

        doDraw()

        fetch(`${window.location.href}/data/countries_detailed.json`)
            .then(res => res.json())
            .then(res => mapData.countriesDetailed = res)
        fetch(`${window.location.href}/data/rivers_detailed.json`)
            .then(res => res.json())
            .then(res => mapData.riversDetailed = res)
        fetch(`${window.location.href}/data/lakes_detailed.json`)
            .then(res => res.json())
            .then(res => mapData.lakesDetailed = res)
    })
</script>

<canvas bind:this={canvas}></canvas>

<style>
    canvas {
        width: 100%;
        aspect-ratio: 3 / 2;
    }
</style>