<script>
    import Display from "./lib/Display.svelte";
    import Map from "./lib/Map/Map.svelte";
</script>


<div class="container">
    <div class="row">
        <h1>Travel diary</h1>
    </div>
    <div class="row">
        <div class="col-9">
            <Map />
        </div>
        <div class="col-3">
            <Display />
        </div>
    </div>
    <div class="row">
        <p>The database of cities originates from simplemaps' Basic <a href="https://simplemaps.com/data/world-cities">World Cities Database</a> under Creative Commons Attribution 4.0 license. No changes to the database were made</p>
        <p>Other datasets are from <a href="https://www.naturalearthdata.com/">NaturalEarthData</a> and are part of the public domain.</p>
    </div>
</div>
